<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-column">
                <h4 class="footer-title">MT Shop</h4>
                <p class="footer-desc">Chuyên cung cấp laptop, linh kiện điện tử chính hãng với giá tốt nhất.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/mtung2004" class="social-link facebook" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/manhtung0512/" class="social-link instagram" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.tiktok.com/manhtungdayroi" class="social-link tiktok" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    <a href="https://web.telegram.org/a/" class="social-link telegram" target="_blank">
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
            </div>
            <div class="footer-column3">
                <h5 class="footer-subtitle">Thông tin liên hệ</h5>
                <ul class="footer-list">
                    <li><i class="fas fa-map-marker-alt"></i> 113 Hai Bà Trưng - Hà Nội</li>
                    <li><i class="fas fa-phone"></i> 0365261896</li>
                    <li><i class="fas fa-envelope"></i> tung05122004@gmail.com</li>
                </ul>
            </div>
            <div class="footer-column2">
                <h5 class="footer-subtitle">Danh mục</h5>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">Laptop Gaming</a></li>
                    <li><a href="#" class="footer-link">Laptop Văn phòng</a></li>
                    <li><a href="#" class="footer-link">Màn hình Gaming</a></li>
                    <li><a href="#" class="footer-link">Linh kiện PC</a></li>
                </ul>
            </div>
            <div class="footer-column1">
                <h5 class="footer-subtitle">Chính sách</h5>
                <ul class="footer-list">
                    <li><a href="#" class="footer-link">Chính sách bảo hành</a></li>
                    <li><a href="#" class="footer-link">Chính sách đổi trả</a></li>
                    <li><a href="#" class="footer-link">Chính sách giao hàng</a></li>
                    <li><a href="#" class="footer-link">Điều khoản sử dụng</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 MT Shop. Uy tín, chất lượng tạo lên thương hiệu.</p>
        </div>
    </div>
</footer>